.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Create Table --> used in Intex too :) */
.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: 100%; /* Set the width to 100% */
  display: block; /* Set the display property to block */
}

.content-table thead tr {
  background-color: #008b8b;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
  width: calc(100% / 6); /* Adjust the number of columns accordingly */
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add a smooth transition effect */
  background-color: #fff; /* Set the background color to white */
}

.content-table tbody tr:hover {
  background-color: #e0f7fa; /* Change the background color on hover */
}

.content-table tbody tr:last-of-type {
  border-bottom: auto solid #009879;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: black;
}

.q {
  border: 2px solid #0666a3; /* Set the border color to your preference */
  padding: 10px; /* Add some padding to the section */
  margin-bottom: 20px; /* Adjust the margin as needed */
  font-weight: bold;
  background-color: #add8e6;
  width: 100%;
}
